<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <!-- <div class="btn-group btn-group-xs pull-right">
                        <button class="btn btn-primary" (click)="add()">
                            <i class="fa fa-plus m-r-xs"></i>
                            新增
                        </button>
                    </div> -->
                    <h5>产品生成计划</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-hover" style="width: auto;">
                        <thead>
                            <tr>
                                <th>产品名称</th>
                                <th>产品描述</th>
                                <th *ngFor="let day of dateRanges">
                                    {{day | date: "yyyy-MM-dd"}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let d of dataList| paginate: {id: 'orderSchedulePaging', itemsPerPage: 10, currentPage: p }">
                                <td>{{d.order.name}}</td>
                                <td>{{d.order.desc}}</td>
                                <td *ngFor="let s of d.scheduleArray; let i = index; trackBy:trackByIndex">
                                    <button *ngIf="s" class="btn btn-primary btn-xs odAmountBtn" 
                                        (click)="modifyOrderSchedule(s, dateRanges[i], d)">
                                         {{s.amount}}
                                    </button>
                                    <button *ngIf="!s" class="btn btn-primary btn-xs odAmountBtn" 
                                        (click)="modifyOrderSchedule(s, dateRanges[i], d)">
                                            0
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls id="orderSchedulePaging" autoHide="true" (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #orderScheduleModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title pull-left">产品需求</h4>
              <button type="button" class="close pull-right" (click)="orderScheduleModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form #orderScheduleForm="ngForm" class="form-horizontal">
      
                  <div class="form-group">
                      <label class="col-sm-4 control-label">产品号</label>
                      <div class="col-sm-8">
                        <ng-select name="order" [(ngModel)]="detailItem.item" required
                            [options]="orderOptions">
                        </ng-select>
                      </div>
                  </div>
      
                  
                  <div class="form-group">
                      <label class="col-sm-4 control-label">计划生产数</label>
                      <div class="col-sm-8">
                        {{detailItem.date | date: "yyyy-MM-dd"}}
                        <input type="number" class="form-control" min="0" name="amount" [(ngModel)]="detailItem.amount" required>
                        </div>
                  </div>
                  
              </form>
            </div>
            <div class="modal-footer">
              <button [disabled]="!orderScheduleForm.form.valid" type="submit" class="btn btn-sm btn-info" (click)="confirmOrderDemand()">确定</button>
              <button class="btn btn-sm btn-default" (click)="orderScheduleModal.hide()">取消</button>
            </div>
          </div>
        </div>
      </div>