<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="btn-group btn-group-xs pull-left">
                        <button [ngClass]="{'btn-info': currentType == 'order', 'btn-default': currentType != 'order'}" class="btn" (click)="setGanttType('order')">
                            订单角度
                        </button>
                        <button [ngClass]="{'btn-info': currentType == 'line', 'btn-default': currentType != 'line'}" class="btn" (click)="setGanttType('line')">
                            生产线角度
                        </button>
                    </div>

                    <button [disabled]="inProcess" class="btn btn-xs btn-success m-l-sm" (click)="runOR()">
                        <i class="fa fa-lightbulb-o m-r-xs"></i>
                        自动优化
                    </button>

                    <div id="toolBar" class="pull-right" style="width: 250px;"></div>
                </div>
                <div class="ibox-content">
                    <div appGanttDirective [ganttDataSet]="ganttDataSet"></div>
                </div>
            </div>
        </div>
    </div>
</div>