<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                
                <h5>原材料</h5>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>原料ID</th>
                            <th>库存</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let rm of rawMaterialData">
                        <td>{{rm.rawId}}</td>
                        <td>{{rm.storage}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>