<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                
                <h5>工种列表</h5>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th>工种ID</th>
                        <th>数量</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let w of workerData">
                    <td>{{w.workId}}</td>
                    <td>{{w.number}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>