<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="profile-element" dropdown>
          <img alt="image" class="img-circle" src="assets/images/profile_small.jpg">
          <a dropdownToggle>
            <span class="block m-t-xs"> <strong class="font-bold">David Williams</strong> </span>
            <span class="text-muted text-xs block">Art Director <b class="caret"></b> </span>
          </a>
          <ul class="animated fadeInRight dropdown-menu" *dropdownMenu>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a href="#">Mailbox</a></li>
            <li class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
        <div class="logo-element">
          IN+
        </div>
      </li>
      
      <!-- <li routerLinkActive="active">
        <a routerLink="/schedule/production-schedule" routerLinkActive="active">
          <i class="fa fa-lightbulb-o"></i>
          <span class="nav-label">生产计划</span>
        </a>
      </li>

      <li routerLinkActive="active">
        <a routerLink="/schedule/raw-material-demands" routerLinkActive="active">
          <i class="fa fa-cubes"></i>
          <span class="nav-label">采购需求</span>
        </a>
      </li>

      <li routerLinkActive="active">
        <a routerLink="/schedule/storage-amount" routerLinkActive="active">
          <i class="fa fa-industry"></i>
          <span class="nav-label">库存需求</span>
        </a>
      </li>

      <li routerLinkActive="active">
        <a routerLink="/schedule/uncovered-demands" routerLinkActive="active">
          <i class="fa fa-square-o"></i>
          <span class="nav-label">未覆盖订单</span>
        </a>
      </li> -->

      <!-- <li routerLinkActive="active">
        <a href="#"><i class="fa fa-file-o"></i> <span class="nav-label">订单相关</span> <span class="fa arrow"></span> </a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('order')}">
          <li routerLinkActive="active"><a routerLink="/order/orders" routerLinkActive="active" >订单</a></li>
          <li routerLinkActive="active"><a routerLink="/order/order-raw-materials" routerLinkActive="active" >订单原料</a></li>
          <li routerLinkActive="active"><a routerLink="/order/material-purchasing" routerLinkActive="active" >原料采购</a></li>
          <li routerLinkActive="active"><a routerLink="/order/product-static" routerLinkActive="active" >订单生产策略</a></li>
        </ul>
      </li> -->

       <!-- <li routerLinkActive="active">
        <a href="#"><i class="fa fa-cog"></i> <span class="nav-label">基础数据</span> <span class="fa arrow"></span> </a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('basic')}">
          <li routerLinkActive="active"><a routerLink="/basic/raw-materials" routerLinkActive="active" >原材料</a></li>
          <li routerLinkActive="active"><a routerLink="/basic/line-static" routerLinkActive="active" >生产线</a></li>
          <li routerLinkActive="active"><a routerLink="/basic/parameters" routerLinkActive="active" >参数设定</a></li>
        </ul>
      </li>  -->

      <li routerLinkActive="active">
        <a href="#"><i class="fa fa-info-circle"></i> <span class="nav-label">信息输入</span> <span class="fa arrow"></span> </a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('basic')}">
          <li routerLinkActive="active"><a routerLink="/basic/product-raw-materials" routerLinkActive="active" >一级BOM原材料</a></li>
          <li routerLinkActive="active"><a routerLink="/basic/raw-materials" routerLinkActive="active" >原材料信息</a></li>
          <li routerLinkActive="active"><a routerLink="/basic/line-static" routerLinkActive="active" >产线信息</a></li>
        </ul>
      </li>

      <li routerLinkActive="active">
        <a href="#"><i class="fa fa-industry"></i> <span class="nav-label">排产调度</span> <span class="fa arrow"></span> </a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('order')}">
          <li routerLinkActive="active"><a routerLink="/order/orders" routerLinkActive="active" >需求计划</a></li>
          <li routerLinkActive="active"><a routerLink="/order/material-purchasing" routerLinkActive="active" >原料采购</a></li>
          <li routerLinkActive="active"><a routerLink="/order/product-static" routerLinkActive="active" >生产线设置</a></li>
        </ul>
      </li>

      <li routerLinkActive="active">
        <a href="#"><i class="fa fa-lightbulb-o"></i> <span class="nav-label">优化作业</span> <span class="fa arrow"></span> </a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('schedule')}">
          <li routerLinkActive="active"><a routerLink="/schedule/parameters" routerLinkActive="active" >优化设置</a></li>
          <li routerLinkActive="active"><a routerLink="/schedule/production-schedule" routerLinkActive="active" >优化结果</a></li>
          <li routerLinkActive="active"><a routerLink="/schedule/raw-material-demands" routerLinkActive="active" >采购需求</a></li>
          <li routerLinkActive="active"><a routerLink="/schedule/storage-amount" routerLinkActive="active" >库存需求</a></li>
          <li routerLinkActive="active"><a routerLink="/schedule/uncovered-demands" routerLinkActive="active" >未覆盖产品</a></li>
        </ul>
      </li>

      

    </ul>

  </div>
</nav>
