<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <app-user-info></app-user-info>
      </li>

      <li routerLinkActive="active">
        <a routerLink="/wizard/step" routerLinkActive="active">
          <i class="fa fa-calendar"></i>
          <span class="nav-label">计划排产</span>
        </a>
      </li>

      <!-- <li routerLinkActive="active">
        <a>
          <i class="fa fa-clock-o"></i>
          <span class="nav-label">实时计划调整</span>
        </a>
      </li> -->

      <li routerLinkActive="active">
        <a routerLink="/admin/users">
          <i class="fa fa-users"></i>
          <span class="nav-label">用户管理</span>
        </a>
      </li>

      <!-- <li routerLinkActive="active">
        <a href="#"><i class="fa fa-lightbulb-o"></i> <span class="nav-label">优化作业</span> <span class="fa arrow"></span> </a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('schedule')}">
          <li routerLinkActive="active"><a routerLink="/schedule/parameters" routerLinkActive="active" >优化设置</a></li> 
          <li routerLinkActive="active"><a routerLink="/schedule/production-schedule" routerLinkActive="active" >优化结果</a></li>
          <li routerLinkActive="active"><a routerLink="/schedule/kpi" routerLinkActive="active" >KPI</a></li>
          <li routerLinkActive="active"><a routerLink="/schedule/raw-material-demands" routerLinkActive="active" >采购需求</a></li>
          <li routerLinkActive="active"><a routerLink="/schedule/storage-amount" routerLinkActive="active" >库存需求</a></li>
          <li routerLinkActive="active"><a routerLink="/schedule/uncovered-demands" routerLinkActive="active" >未覆盖产品</a></li>
        </ul>
      </li> -->

    </ul>

  </div>
</nav>
