<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <!-- <button class="btn btn-info btn-xs pull-right" (click)="save()">
                        <i class="fa fa-file m-r-xs"></i>
                        保存
                    </button> -->
                    <h5>参数设置</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-hover">
                        <tr>
                            <td class="col-sm-4">
                                开始日期
                            </td>
                            <td class="col-sm-8">
                                <input name="startDate" type="date" [(ngModel)]="parameters.startDate" class="form-control" useValueAsDate required>
                            </td>
                        </tr>

                        <tr>
                            <td class="col-sm-4">
                                结束日期
                            </td>
                            <td class="col-sm-8">
                                <input name="endDate" type="date" [(ngModel)]="parameters.endDate" class="form-control" useValueAsDate required>
                            </td>
                        </tr>

                        <tr>
                            <td class="col-sm-6">
                                开启换生产线罚分
                            </td>
                            <td class="col-sm-6">
                                <div class="switch">
                                    <div class="onoffswitch">
                                        <input type="checkbox" name="isPenalizeForNumLineModeChangeOn" 
                                            [(ngModel)]="parameters.isPenalizeForNumLineModeChangeOn"
                                            class="onoffswitch-checkbox" id="isPenalizeForNumLineModeChangeOn">
                                        <label class="onoffswitch-label" for="isPenalizeForNumLineModeChangeOn">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="parameters.isPenalizeForNumLineModeChangeOn">
                            <td class="col-sm-6">
                                换生产线罚分
                            </td>
                            <td class="col-sm-6">
                                <input type="number" name="penaltyForLineModeChange" 
                                    [(ngModel)]="parameters.penaltyForLineModeChange" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <td class="col-sm-6">
                                开启库存罚分
                            </td>
                            <td class="col-sm-6">
                                <div class="switch">
                                    <div class="onoffswitch">
                                        <input type="checkbox" name="isPenalizeForStorageOn" [(ngModel)]="parameters.isPenalizeForStorageOn" 
                                            class="onoffswitch-checkbox" id="isPenalizeForStorageOn">
                                        <label class="onoffswitch-label" for="isPenalizeForStorageOn">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </td>
                        </tr>
            
                        <tr *ngIf="parameters.isPenalizeForStorageOn">
                            <td class="col-sm-6">
                                库存罚分
                            </td>
                            <td class="col-sm-6">
                                <input type="number" name="penaltyForLineUsage" 
                                    [(ngModel)]="parameters.penaltyForLineUsage" class="form-control">
                            </td>
                        </tr>
            
                        <tr>
                            <td class="col-sm-6">
                                是否最小化生产线使用数量
                            </td>
                            <td class="col-sm-6">
                                <div class="switch">
                                    <div class="onoffswitch">
                                        <input type="checkbox" name="isPenalizeForNumLineUsedOn" 
                                            [(ngModel)]="parameters.isPenalizeForNumLineUsedOn" 
                                            class="onoffswitch-checkbox" id="isPenalizeForNumLineUsedOn">
                                        <label class="onoffswitch-label" for="isPenalizeForNumLineUsedOn">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </td>
                        </tr>
            
                        <tr>
                            <td class="col-sm-6">
                                是否将原材料供应作为限制条件
                            </td>
                            <td class="col-sm-6">
                                <div class="switch">
                                    <div class="onoffswitch">
                                        <input type="checkbox" name="isRawMaterialPrepareConstraintOn" 
                                            [(ngModel)]="parameters.isRawMaterialPrepareConstraintOn" 
                                            class="onoffswitch-checkbox" id="isRawMaterialPrepareConstraintOn">
                                        <label class="onoffswitch-label" for="isRawMaterialPrepareConstraintOn">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td class="col-sm-6">
                               安全库存是否是硬性限制
                            </td>
                            <td class="col-sm-6">
                                <div class="switch">
                                    <div class="onoffswitch">
                                        <input type="checkbox" name="isSafeStorageHardConstraint" 
                                            [(ngModel)]="parameters.isSafeStorageHardConstraint" 
                                            class="onoffswitch-checkbox" id="isSafeStorageHardConstraint">
                                        <label class="onoffswitch-label" for="isSafeStorageHardConstraint">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        
                        <tr *ngIf="parameters.isSafeStorageHardConstraint">
                            <td class="col-sm-6">
                                安全库存限制违反罚分
                            </td>
                            <td class="col-sm-6">
                                <input type="number" name="penaltyForUseSafeStorage" 
                                    [(ngModel)]="parameters.penaltyForUseSafeStorage" class="form-control">
                            </td>
                        </tr>

                        <tr>
                            <td class="col-sm-6">
                                安全库存计算方式
                            </td>
                            <td class="col-sm-6">
                                <ng-select name="safeStorageCalculateMethod" 
                                    [(ngModel)]="parameters.safeStorageCalculateMethod" required
                                    [options]="safeStorageCalculateOptions">
                                </ng-select>
                            </td>
                        </tr>

                    </table>

                    <!-- <button [disabled]="inProcess" class="btn btn-success btn-block" (click)="runOR()">
                        <i *ngIf="!inProcess" class="fa fa-lightbulb-o"></i>
                        <i *ngIf="inProcess" class="fa fa-spin fa-spinner"></i>
                        开始优化
                    </button> -->

                </div>
            </div>
        </div>
    </div>
</div>
