// constructures
.ganttRoot{
    position: relative;
    height: 500px;
    border: 1px solid #333;
    overflow: hidden;
}
.timelineContainer{
    // background-color: #fcfcfc;
    border-bottom: 1px solid #333;
}
#scaleSelector{
    color: #333;
    height: 20px;
}
.slotContainer{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 10;
    overflow: hidden;
}
.slotInner > .slotItem:first-child{
    border-top: 1px solid transparent;
}
.slotItem{
    text-align: center;
    padding: 7px;
    border-bottom: 1px solid #333;
}
.slotInner > .slotItem:nth-child(even){
    background-color: #4e5358;
}
.ganttContainer{
    position: relative;
    top:0;
    max-height: 100%;
    border-left: 1px solid #333;
    overflow: auto;
}
.ganttBG{
    position: absolute;
    background: url("assets/images/gantt/grid40_strip.png");
}

#svgContainer{
    position: relative;
    width: 1000px;
    height: 1000px;
    z-index: 5;
}
#timelineInner{overflow: hidden;border-left: 1px solid #333; border-bottom: 1px solid #c8c8c8;}
#timelineSvg text.textTime{
    fill: #c8c8c8;
    font-size: 12px;   
}

#timelineSvg .tItem{
    stroke: #c8c8c8;
}

circle.process{
  stroke: #333;
  stroke-width: 2;
  fill: white;
}
svg .netWorkLine{
  stroke: #333;
  stroke-width: 1;
}
svg .ganttItem{
  stroke: #464a4f;
  stroke-width: 1;
  fill: #7a8288;
}
svg .shortest{
  stroke: #1c84c6;
  stroke-width: 1;
  fill: #1c84c6;
}